<ion-view view-title="Welcome">
  <ion-content>
    <div class="center-text large-padding-area">
      <h2 class="moon-header">
        AWESOME!<br/>
        WHERE DO YOU STAY?
      </h2>
    </div>

    <label class="item item-input center" style="width:50%">
      <input class="center-text" type="number" placeholder="Enter ZIP Code" ng-model="user.zipCode">
    </label>

    <br/>

    <div class="item item-image singapore-bg">
      <img src="../image/singapore.svg">
    </div>
    <div class="padding-area">
      <button class="button button-block button-calm" ng-click="goToState('app.explore',false)">
        Start Exploring
      </button>
    </div>

  </ion-content>
</ion-view>