<ion-view view-title="Explore">

  <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        ALL
      </a>
      <a class="tab-item" href="#">
        OFFERS
      </a>      
      <a class="tab-item" href="#">
        REQUESTS
      </a>
      <a class="tab-item" href="#">
        EVENTS
      </a>
    </div>
  </div>

  <ion-content class="extra-header">
      <!-- our list and list items -->
      <ion-list>

      <div class="list card" ng-repeat="offer in data.offers" ng-click="">

        <div class="item item-divider offer-header">
            Offer
        </div>  

        <div class="item item-avatar">
          <img src="../image/{{offer.firstName}}.png">
          <h2>by {{offer.firstName}} {{offer.lastName}}</h2>
          <p>{{offer.neighborhood}}</p>
        </div>        

        <div class="item item-image">
          <img src="../image/kuih.jpg">
        </div>   

        <div class="item item-body">
          <h3>Giving Away Hari Raya Snacks</h3>
          <p>
            <i class="icon ion-ios-clock-outline"></i> 
            Valid till July 30 2015
            <br/>
            <i class="icon ion-ios-location-outline"></i> 
            {{offer.neighborhood}} Street 15
          </p>
          <p>
            Hey guys, my family's celebrating Hari Raya by baking homemade Kuih Tart Gulung.
            We would love to spread the festivity's joy by giving away these goodies too.
            Please message me if you're interested.
          </p>
          <p>
            <a href="#" class="subdued">1 Response</a>
            <a href="#" class="subdued">5 Likes</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Respond
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-heart-outline"></i>
            Like This
          </a>
        </div>

      </div>

      </ion-list>

      <ion-list>

      <div class="list card" ng-click="">
          <div class="item item-divider request-header">
              Request
          </div>

          <div class="item item-avatar">
            <img src="../image/jane.png">
            <h2>by Lim Jing Li</h2>
            <p>Simei Drive 15</p>
          </div>

        <div class="item item-image">
          <img src="../image/psle.jpg">
        </div>           

          <div class="item item-body">
            <h3>Need Math Tuition for P6 Kid</h3>
            <p>
              <i class="icon ion-ios-clock-outline"></i> 
              by July 30 2015
              <br/>
              <i class="icon ion-ios-location-outline"></i> 
              Simei Drive 15 blk 210 #08-120
            </p>
            <p>
              Hey guys, PSLE is just around the corner and I am trying to find a kind sould who is willing to
              tutor my kid, who’s struggling really hard in some subejcts like Math &amp; Chinese. Willing to
              pay as well. Pls message me if interested.
            </p>
            <p>
            <a href="#" class="subdued">12 Responses</a>
            <a href="#" class="subdued">5 Likes</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Respond
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-ios-heart-outline"></i>
              Like This
            </a>
          </div>
        </div>
      </ion-list>

      <div class="list card" ng-click="">
          <div class="item item-divider event-header">
              Event
          </div>        

          <div class="item item-avatar">
            <img src="../image/jane.png">
            <h2>by Lim Jing Li</h2>
            <p>Pasir Ris St 15</p>
          </div>

        <div class="item item-image">
          <img src="../image/boardgame.jpg">
        </div>

          <div class="item item-body">
            <h3>Board Game Lounge Chillout</h3>
            <p>
              <i class="icon ion-ios-clock-outline"></i> 
              July 28 2015
              <br/>
              <i class="icon ion-ios-location-outline"></i> 
              Pasir Ris St 15 RC Corner #01-20
            </p>
            <p>
              I’m looking for friends to play some goold old
              board games like Risk &amp; Game of Life. I will also
              provide snacks &amp; refreshements.
            </p>
            <p>
              <a href="#" class="subdued">20 Going</a>
              <a href="#" class="subdued">30 Likes</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-calendar"></i>
              Join Event
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-ios-heart-outline"></i>
              Like This
            </a>
          </div>
        </div>
      </ion-list>      

  </ion-content>

</ion-view>
