<ion-view view-title="Explore">

  <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        ALL
      </a>
      <a class="tab-item" href="#">
        REQUESTS
      </a>
      <a class="tab-item" href="#">
        EVENTS
      </a>
    </div>
  </div>

  <ion-content class="extra-header">
      <!-- our list and list items -->
      <ion-list>

      <div class="list card" ng-repeat="offer in data.offers" ng-click="">

        <div class="item item-avatar">
          <img src="../image/{{offer.firstName}}.png">
          <h2>{{offer.firstName}}</h2>
          <p>{{offer.neighborhood}}</p>
        </div>

        <div class="item item-body">
          <p>
            Hey guys, PSLE is just around the corner and I am trying to find a kind sould who is willing to
            tutor my kid, who’s struggling really hard in some subejcts like Math & Chinese. Willing to
            pay as well. Pls message me if interested.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Responses</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Respond
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-heart-outline"></i>
            Like This
          </a>
        </div>

      </div>

      </ion-list>


  </ion-content>

</ion-view>
