<ion-view view-title="Offer Help / Services">
  <ion-content>
      <div class="list">
        <div class="item item-image image-container">
          <img src="../image/uploadphoto.svg">
        </div>

		<button class="button button-full button-stable no-margin">
		  Upload Photo
		</button>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Offer Name</span>
          <input type="text" placeholder="Title of your awesome deed">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Category</span>
          <input type="text" ng-model="newReq.entryType" placeholder="E.g. Rides, Tuition, Cooking">
        </label>

        <div ng-show="['ride', 'rides'].indexOf(newReq.entryType.toLowerCase()) != -1">
	        <div class="item item-divider calm-header">
	            Additional info about your ride
	        </div>        	
	        <label class="item item-input item-stacked-label">
	          <span class="input-label">Origin</span>
	          <input type="text" placeholder="Start Location of Your Ride">
	        </label> 
	        <label class="item item-input item-stacked-label">
	          <span class="input-label">Destination</span>
	          <input type="text" placeholder="End Location of Your Ride">
	        </label> 
	        <div class="item item-divider calm-header">
	            
	        </div>
        </div>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <textarea placeholder="Tell us more about what you're offering"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Valid Till</span>
          <input type="date">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Location</span>
          <input type="text" placeholder="Where to receive offer">
        </label>        
      </div>

      <div class="padding-area">
        <button class="button button-block button-calm">
          Post Offer
        </button>
      </div>
  </ion-content>
</ion-view>