<ion-view view-title="Register">
  <ion-content>
      <div class="list">
        <div class="item item-image image-container">
          <img src="../image/clouds.png">
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="Eddie" ng-init="user.firstName=''" ng-model="user.firstName">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Lim" ng-init="user.lastName=''" ng-model="user.lastName">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone Number</span>
          <input type="text" placeholder="(+65) ********" ng-init="user.phone=''" ng-model="user.phone">
        </label>
      </div>
      <div class="padding-area">
        <button class="button button-block button-calm" ng-click="goToState('app.begin',false)">
          Create Account
        </button>
      </div>
      <p id="loginlink">
        <a href="#/app/login">Have an account? Sign In.
      </p>
  </ion-content>
</ion-view>