
<ion-view view-title="Test OneMap" cache-view="false">
  <ion-content>


<div class="tundra">
<table style="width: 436px">
    <tr>
        <th colspan="2">
            Address Search API Usage</th>
    </tr>
    <tr>
        <td> Search Text  :</td>
        <td><input type="text" id="txtSearchText" value='City Hall' /></td>
    </tr>
    <tr>
        <td>
            <input type="button" onclick="GetSearchData();" value="Search" /></td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <div id="divMain" style='width:500px;height:500px;'></div></td>
        <td style="vertical-align:top">
            <div id="divResults"></div></td>
    </tr>
</table>
</div>


  </ion-content>
</ion-view>

