.bar.bar-calm, 
.tabs-striped.tabs-background-calm .tabs,
.button.button-calm {
	background-color: #4BB8DD;
	border-color: transparent; 
}

.extra-header {
	top: 100px;
}

.calm-header {
	color: #fff;
	background-color: #4BB8DD;
}

.request-header {
	color: #fff;
	background-color: #f58410;
}

.request-color {
	color: #f58410;
}

.event-header {
	color: #fff;
	background-color: #3eb5ac;
}

.event-color {
	color: #3eb5ac;
}

.center-text {
	text-align: center;
}

.moon-header {
	color: #4A4A4A;
	font-family: 'moonbold';
	font-size: 24px;
}

.offer-header {
	color: #fff;
	background-color: #a88cd5;
}

.offer-color {
	color: #a88cd5;
}

.bg-trans {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.4);;
    border-color: transparent;
}

.border-right {
	border-right: 2px solid white;
}

.padding-area {
	padding: 10px 20px;
}

.large-padding-area {
	padding: 60px 20px 10px 20px;
}

#loginlink {
	text-align: center;
}

#loginlink a {
	color: #BABABA;
}

.splash-bg {
	background-image: url(../image/SplashScreen.png); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.singapore-bg {
	border: none;
	background-image: url(../image/singapore.svg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
}

.image-container {
	height: 200px;
	overflow: hidden;
	border: none
}

.button.button-full.no-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}